<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication App</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-100">
    <form action="/reset-password" method="post">
      <div class="bg-gray-lighter min-h-screen flex flex-col">
        <div
          class="container max-w-md mx-auto flex-1 flex flex-col items-center justify-center px-2"
        >
          <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">Reset Password</h1>
            <input
              type="email"
              name="email"
              placeholder="Enter reset email"
              class="block border border-grey-light w-full p-3 rounded mb-4"
            />

            <button
              type="submit"
              class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-600 active:bg-green-700 focus:outline-none my-1"
            >
              Send Link
            </button>

            <a class="flex justify-center w-36 text-center py-3 rounded bg-yellow-500 text-white hover:bg-yellow-600 active:bg-yellow-700 focus:outline-none my-1" href="/login">Go Back</a>
              
        </div>
      </div>
    </form>
  </body>
</html>
